html {
     background-color: papayawhip;
}

.container {
     position: relative;
}

#wave {
     margin-left: 35px;
     width: 95%;
     height: auto;
}

.textblock1 {
     position: absolute;
     text-align: right;
     top: 200px;
     right: 100px;
     background-color: white;
     color: black;
}

.textblock2 {
     position: absolute;
     text-align: right;
     top: 500px;
     right: 100px;
     background-color: white;
     color: black;
}

.textblock3 {
     position: absolute;
     text-align: right;
     bottom: 100px;
     right: 100px;
     background-color: white;
     color: black;
}

.poem-text {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
}