html {
     background-color: papayawhip;
}

.container {
     position: relative;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
}

.textblock1 {
     position: absolute;
     text-align: right;
     top: 50px;
     right: 20px;
     background-color: white;
     color: black;
}

.textblock2 {
     position: absolute;
     text-align: right;
     top: 100px;
     right: 20px;
     background-color: white;
     color: black;
}

.textblock3 {
     position: absolute;
     text-align: right;
     bottom: 50px;
     right: 20px;
     background-color: white;
     color: black;
}