html {
     background-color: papayawhip;
     font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
     position: relative;
}

#wave {
     position: relative;
     margin-left: 35px;
     width: 95%;
     height: auto;
}

.textBlock1 {
     position: absolute;
     text-align: right;
     top: 250px;
     right: 150px;
     background-color: papayawhip;
     color: black;
     padding: 10px;
     border: 2px solid black;
}

.textBlock2 {
     position: absolute;
     text-align: right;
     top: 500px;
     right: 150px;
     background-color: papayawhip;
     color: black;
     padding: 10px;
     border: 2px solid black;
}

.textBlock3 {
     position: absolute;
     text-align: right;
     bottom: 100px;
     right: 150px;
     background-color: papayawhip;
     color: black;
     padding: 10px;
     border: 2px solid black;
}

.poem-text {
     font-weight: 500;
}

h3 {
     padding: 10px;
     font-weight: 600;
}

.titleBlock {
     position: absolute;
     top: 75px;
     left: 175px;
     text-align: center;
     background-color: papayawhip;
     color: black;
     padding: 10px;
     border: 2px solid black;
}